server:
  port: 5000

logging:
  level:
    root: INFO
    org.springframework.web: WARN
    reactor.netty: WARN

spring:
  webflux:
    base-path: /

app:
  external:
    base-url: ${EXTERNAL_BASE_URL:http://localhost:3001}

  service:
    parallelism: 4
    detail-timeout-ms: 2000

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
